.recipe {color: firebrick;
    font-family: cursive;
        font-weight: 949;
text-align: center}
.funsaying { color: darkcyan;
font-family: cursive;
        font-weight: 949;
text-align: center}
            
#list1 {color: rebeccapurple;
            
            font-family: cursive;
                font-size: 19px;
                font-weight: 949; 
text}
            
#list2 {color: darkblue;
        font-family: cursive;
        font-weight: 949}
            
.ingredients {color: crimson;
font-family: cursive;
        font-weight: 949;
text-align: }
table {padding: 15px}

tr {color: orangered;
font-family: cursive;
                font-size: 19px;
                font-weight: 949 }

        